<h1 class="bg-primary text-white table create p-4">
    {{title}}
</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            
            <table class=" bg-secondary text-white table table-bordered">
                <thead>
                    <tr>
                         <th>Sr NO</th>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Email</th>
                         <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{person.fname}}</td>
                        <td>{{person.lname}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.Contact}}</td>
                
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-12">
            
            <table class=" bg-dark text-white table table-bordered">
                <thead>
                    <tr>
                         <th>Sr NO</th>
                         <th>Cars</th>
                         <th>company Name</th>
                         <th>KmDriven</th>
                         <th>Prices</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{car.car}}</td>
                        <td>{{car.Company}}</td>
                        <td>{{car.kmDriven}}</td>
                        <td>{{car.price}}</td>
                
                    </tr>
                </tbody>
            </table>
           
        </div>
       
    </div>
</div>