<h1 class="bg-success text-white p-2 text-center text-capitalize">
    {{title}}
</h1>

<div class="container mt-5 text-capitalize">
 <div class="row">
<div class="col-6 offset-md-3 text-center">
 <ul class="list-group">
 <li *ngFor="let skill of skills" class="list-group-item bg-dark text-white">
    {{skill}}
</li>
 </ul>
 </div>
    </div>

    <div class="row mt-5 text-center">
        
        <!-- <h1 class="text-dark p-4">
            {{names}}
        </h1> -->
        <div class="col-md-4">
            <ul class="list-group">
                <li *ngFor="let names of name" class="list-group-item bg-dark text-white">
                    {{names}}
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li *ngFor="let change of changes" class="list-group-item bg-dark text-white">
                    {{change}}
                </li>
            </ul>
        </div>


        <div class="col-md-4">
            <ul class="list-group  text-center">
                <li *ngFor="let skill of odds  " class="list-group-item bg-dark text-white">
                    {{skill}}
                </li>
            </ul>
     </div>

       
     <div class="col-6 offset-md-3 my-5">
        <ul class="list-group text-center">
        <li *ngFor="let skill of subjects" class="list-group-item bg-dark text-white">
                {{skill}}
            </li>
        </ul>
    </div>

    </div>  



    <!-- <h1 class="text-dark p-4">
        {{change}}
    </h1> -->
   
       
    
   
        
            <!-- <h1 class="text-dark p-4">
                {{odd}}
            </h1> -->
      
          
                <!-- <h1 class="text-dark p-4">
                    {{subject}}
                </h1> -->
               
                 

                

           